[submodule "extern/lava"]
	path = extern/lava
	url = https://graphics.rwth-aachen.de:9000/lava/lava.git
	branch = origin/pesser-windows-fixes
	update = merge
[submodule "extern/lava-extras"]
	path = extern/lava-extras
	url = https://graphics.rwth-aachen.de:9000/lava/lava-extras.git
	branch = pesser
	update = merge
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule "extern/glm"]
	path = extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/imgui-node-editor"]
	path = extern/imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor
[submodule "extern/bullet"]
	path = extern/bullet
	url = https://github.com/bulletphysics/bullet3.git
	branch = master
